.App {
  position: relative;
  height: 100%;
}
.sidebar-container {
  display: inline-block;
  border: solid 1px black;
  width: 30%;
  height: 100%;
  color: red;
}

.main-window-container {
  display: inline-block;
  width: 69%;
  height: 100%;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
