.App {
  text-align: center;
}
.App .sidebar-container {
  display: inline-block;
  border: solid 1px black;
  width: 30%;
  height: 100%;
  color: red;
}

.main-window-container {
  display: inline-block;
  width: 70%;
  border: solid 1px red;

}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
